apiVersion: v1
kind: Service
metadata:
  name: {{ include "workflow-builder.fullname" . }}
  labels:
    {{- include "workflow-builder.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    - port: {{ .Values.service.metricsPort }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "workflow-builder.selectorLabels" . | nindent 4 }}
